<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
        data-namespace-typo3-fluid="true">



<footer>
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 footer-left">
                    <span>&copy; Copyright Gemeente Venlo</span>

                    <a href="/privacy/" target="_top">
                        <span>Privacy</span>
                    </a>

                    <a href="/algemene-voorwaarden/" target="_top">
                        <span>Algemene voorwaarden</span>
                    </a>

                    <div class="logo">
                        <a href="/">
                            <img class="img-responsive" alt="Arsenaal venlo" src="../Img/logo-footer.png" width="141" height="78" />
                        </a>
                    </div>

                </div>

                <div class="col-sm-5 footer-right">
                    <div class="pagelist">

                        <ul>




                            <li>
                                <a href="/arsenaal/" target="">
                                    Arsenaal
                                </a>
                            </li>



                            <li>
                                <a href="/actueel/" target="">
                                    Actueel
                                </a>
                            </li>



                            <li>
                                <a href="/documenten/" target="">
                                    Documenten
                                </a>
                            </li>



                            <li>
                                <a href="/contact/" target="">
                                    Contact
                                </a>
                            </li>


                        </ul>

                    </div>
                </div>
                <div class="socials">
                    <ul>

                        <li>
                            <a href="https://www.facebook.com/Gemeente.Venlo" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>



                        <li>
                            <a href="https://twitter.com/gemeentevenlo" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>



                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>

</html>
