<f:layout name="Default"/>
<f:section name="Content">

    <section class="masthead">

        <div class="banner-title">
            <h1>De toekomst van de locatie Arsenaal</h1>
        </div>
        <img class="hidden-xs img-responsive" src="../img/index.png" alt=""/>
        <img class="visible-xs img-responsive" src="../img/index1.png" alt=""/>
    </section>
    <div class="container">
        <div class="row">
            <div class="main-content">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    <div id="c30" class="ce-text">
                        <div class="ce-bodytext">
                            <header>
                                <h2>Wat gaat er gebeuren?</h2>
                            </header>
                            <p>
                                <strong>
                                    Welkom op de site over de toekomst van de historische locatie Arsenaal te Venlo. Op
                                    deze site zullen we u zo volledig mogelijk informeren over het proces en de inhoud
                                    van de "Herontwikkeling locatie Arsenaal".
                                </strong>
                            </p>
                            <p>
                                Deze herontwikkeling is een logisch vervolg op het besluit om de parkeergarage te slopen
                                (2017) en een tijdelijke voorziening op maaiveld te realiseren. Wij willen u niet alleen
                                op de hoogte houden van deze ontwikkeling, wij hopen ook dat we u hierbij actief
                                betrekken.
                                <br>
                                Het is mogelijk om via deze site vragen te stellen over de herontwikkeling en om wensen
                                of zorgen kenbaar te maken. In de tweede helft van 2018 zal de site gevuld worden met
                                relevante documenten, achtergronden, ideeën, fasering, etcetera. De mogelijkheid om een
                                vraag of idee aan te leveren is uiteraard actief vanaf het moment dat we live zijn
                                gegaan.
                            </p>
                            <p><br></p>
                            <p><br></p>
                        </div>
                    </div>
                    <div id="c31" class="ce ce-button 0">
                        <a class="btn btn-primary" href="/arsenaal/" target="_top">
                            <i class="fa fa-arrow-right">
                            </i>
                            Lees meer
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6 col-md-4">


                    <div class="ce ce-box-element" id="c32">
                        <div class="box-element">

                            <div class="box-element-image">
                                <img class="img-responsive" src="../img/csm_DSCF2618__Medium__a40c896f5a.jpg"
                                     width="768" height="400" alt=""/>
                            </div>

                            <div class="box-element-content">

                                <div class="box-element-title">
                                    <h3>Actueel</h3>
                                </div>


                                <div class="box-element-text">
                                    <p>Hier vindt u alle actuele informatie</p>
                                </div>


                                <div class="box-element-button">
                                    <a href="/actueel/" target="_top" class="btn btn-primary">

                                        <i class="fa fa-arrow-right"></i>
                                        Lees meer

                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
                <div class="col-sm-6 col-md-4">


                    <div class="ce ce-box-element" id="c33">
                        <div class="box-element">

                            <div class="box-element-image">
                                <img class="img-responsive" src="../img/csm_Arsenaal-min_90f8d7bc22.jpg" width="768"
                                     height="400" alt=""/>
                            </div>

                            <div class="box-element-content">

                                <div class="box-element-title">
                                    <h3>Documenten</h3>
                                </div>


                                <div class="box-element-text">
                                    <p>Verdiep u in de documentatie van het bestemmingsplan</p>
                                </div>


                                <div class="box-element-button">
                                    <a href="/documenten/" target="_top" class="btn btn-primary">

                                        <i class="fa fa-arrow-right"></i>
                                        Lees meer

                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
                <div class="col-sm-6 col-md-4">


                    <div class="ce ce-box-element" id="c34">
                        <div class="box-element">

                            <div class="box-element-image">
                                <img class="img-responsive" src="../img/csm_Arsenaal_contact_3c229df274.jpg" width="768"
                                     height="400" alt=""/>
                            </div>

                            <div class="box-element-content">

                                <div class="box-element-title">
                                    <h3>Contact </h3>
                                </div>


                                <div class="box-element-text">
                                    <p>Neem contact op wanneer u vragen of opmerkingen heeft</p>
                                </div>


                                <div class="box-element-button">
                                    <a href="/contact/" target="_top" class="btn btn-primary">

                                        <i class="fa fa-arrow-right"></i>
                                        Lees meer

                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</f:section>